body {
    width: 1100px;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 92px 50px 96px 50px;
    align-items: center;
}

.header__menu {
    justify-self: start;
    text-transform: lowercase;
}

.header__links-list {
    display: flex;
    list-style-type: circle;
    gap: 33px;
    padding: 0;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 2px;
    display: list-item;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    text-underline-offset: 4px;
    line-height: 1.4em;
}

.header__address {
    align-items: flex-start;
    justify-self: end;
    max-width: 240px;
    width:100%
}

.address__list {
    list-style-type: none;
}

.cover {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    min-height: 757px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 165px 50px 0 50px;
}

.aligned-text {
    display: block;
    gap: 20px
}

.aligned-text_left {
    text-align: start;
}

.aligned-text_center {
    text-align: center;
    line-height: 1.5em;
}

.aligned-text_right {
    text-align: end;
}

.aligned-text_part {
    letter-spacing: 0;
}

.cover_description {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 50px;
    align-items: center;
}

.cover_description-text {
    word-spacing: 19px;
    color:#FFFFFF;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 2.8em;
}

.bet-button {
    color:#FFFFFF;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 11.5px 31.5px;
}

.lots {
    padding: 180px 24px 0 24px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
    text-align: start;
}

.lots__card-list {
    display:flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    list-style: none;
}

.card-link {
    height: 100%;
}

.card {
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 48px 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.card__title {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 120%;
    z-index: 1;
}

.card__text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
    font-size: 20px;
    display: block;
    padding-left: 40px;
    padding-top: 30px;
    text-transform: lowercase;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: auto auto;
    margin: 120px 24px 180px 24px;
    column-gap: 25px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.about__logo-image_background {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.about__column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 35px;
}

.about__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 124%;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 8px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 50px 82px;
}

.footer__address {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    max-width: 260px;
    width:100%
}


.footer__menu {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: start;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: lowercase;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    list-style: none;
    gap: 48px;
    justify-self: end;
    align-self: start;
}

.footer__social-list-item {
    display: block;
    width: 48px;
}

.footer__social-icon {
    width: 100%;
    height: 48px;
}

